{% extends "index.html" %}
{% load static %}
{% block style %}
<link href="{% static 'css/detect.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Robo Detect{% endblock %}

{% block sidebar-links %}
<li><a href="/yolo/home">Home</a></li>
<li class="active"><a href="/yolo/detect">Detect</a></li>
{% endblock %}

{% block content %}
<div class="container">


</div>

<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#detect">Detect</a></li>
            <li><a data-toggle="tab" href="#detail">More</a></li>
        </ul>
        <div class="tab-content">
            <div id="detect" class="tab-pane fade in active">
                <div class="detect-container">
                    <div id="alert-container" class="container">

                    </div>
                    <form id="detect-form" action="/yolo/detect" method="post" enctype="multipart/form-data">
                        <!-- Security token -->
                        {% csrf_token %}
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="normal-label" for="probability_minimum">Probability
                                            Minimum</label>
                                        <input type="number" name="probability_minimum"
                                               class="form-control" id="probability_minimum" step="0.01" value="0.5">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="normal-label" for="threshold">Threshold</label>
                                        <input type="number" name="threshold" class="form-control" id="threshold"
                                               step="0.01" value="0.3">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="margin: 0">
                            <label class="image-input-label" for="image-input">Choose image</label>
                            <input type="file" name="image" accept="image/*" class="form-control-file" id="image-input"
                                   onchange="readURL(this);">
                        </div>
                        <div class="container image-container">
                            <img id="image-preview" src="" alt=""/>
                        </div>
                        <div class="container">
                            <button type="submit" class="btn btn-warning" style="width: 300px; font-weight: bold">
                                Detect
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="detail" class="tab-pane fade">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th>Info</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/detect.js' %}"></script>
{% endblock %}

